<%- include ('../includes/header.ejs') %>

<% if (errorMessage){ %>
    <div class="error-message alert alert-danger">
        <p><%= errorMessage %></p>
    </div>
<% } %>
<div class="login-clean">
    <form action="/login" method="POST">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <h2 class="sr-only">Login Form</h2>
        <div class="illustration">
            <i class="icon ion-ios-navigate"></i>
        </div>
        <div class="form-group">
            <input class="form-control" type="email" name="email" placeholder="Email" required>
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password" required>
        </div>
        <div class="form-group">
            <button class="btn btn-primary btn-block" type="submit">Log In</button>
        </div>
        <p>Didn't have account yet ? <a href="/register">Register</a></p>
        <a class="forgot" href="#">Forgot your email or password?</a>
    </form>
</div>
<%- include ('../includes/footer.ejs') %>