<%- include ('../includes/header.ejs') %>

<h1>Add Product</h1>
<form method="POST" action="/admin/add-product">
    <label for="product">Product Name</label>
    <input type="text" name="name">
    <button type="submit">Submit</button>
</form>

<%- include ('../includes/footer.ejs') %>