<%- include ('../includes/header.ejs') %>

<h1>Admin Product</h1>
<% if (hasProduct){ %>
    <ul>
        <% for (let product of products){ %>
            <li><span><%= product.name %></span> - <span><a href="">Edit</a></span> - <span><a href="">Delete</a></span></li>
        <% } %>
    </ul>
<% } else { %>
    <p>There is no products</p>
<% } %>

<%- include ('../includes/footer.ejs') %>