<div class="footer-clean">
    <footer>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-4 col-md-3 item">
                    <h3>About</h3>
                    <ul>
                        <li><a href="#">Company</a></li>
                        <li><a href="#">Team</a></li>
                        <li><a href="#">Legacy</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3>Customer Services</h3>
                    <ul>
                        <li><a href="mailto:philippurwoko123@gmail.com">philippurwoko123@gmail.com</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3>Terms of Use</h3>
                    <ul>
                        <li><a href="#">License</a></li>
                        <li><a href="#">Privacy and Policy</a></li>
                        <li>Favicons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 item social">
                    <a href="#"><i class="icon ion-social-instagram"></i></a>
                    <a href="#"><i class="icon ion-social-github"></i></a>
                    <a href="#"><i class="icon ion-social-linkedin"></i></a>
                    <a href="#"><i class="icon ion-social-whatsapp"></i></a>
                    <p>Nusantaran 2021 - This project has copyright license by Philip Purwoko</p>
                </div>
            </div>
        </div>
    </footer>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
