<%- include ('includes/header.ejs') %>

<div class="container-fluid dimmed-bg main">
    <div class="container pt-4 pb-4">
        <div class="row">
            <div class="col">
                <div class="alert alert-danger">
                    <h2>Some Error Occured in Server</h2>
                    <p>Sorry for the inconvenience, we are working on fixing this</p>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include ('includes/footer.ejs') %>