<%- include ('includes/header.ejs') %>

<h1>Shop</h1>
<% if (products.length > 0){ %>
    <ul>
        <% for (let product of products){ %>
            <li><%= product %></li>
        <% } %>
    </ul>
<% } else { %>
    <p>No Products</p>
<% } %>

<%- include ('includes/footer.ejs') %>