<%- include ('../includes/header.ejs') %>

<div class="highlight-phone">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="intro">
                    <h2>Pusatnya Produk Nusantara</h2>
                    <p>Temukan produk nusantara favorit Anda, semua tersedia disini. Dengan pilihan yang variatif dan promo harga setiap bulan.</p>
                    <a class="btn btn-primary" role="button" href="/products">Lihat produk</a>
                </div>
            </div>
            <div class="col-sm-6" style="margin: auto;">
                <img class="d-none d-md-block" width="100%" src="/img/sunlight.svg" alt="">
            </div>
        </div>
    </div>
</div>
<div class="features-boxed">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Kenapa Jual Beli di Nusantaran ?</h2>
            <p class="text-center">Bisnis online bisa membawa usaha Anda ke masyarakat yang lebih luas, yang global. Siapa saja yang memiliki koneksi internet bisa melihat produk atau layanan Anda secara online.</p>
        </div>
        <div class="row justify-content-center features">
            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <div class="box">
                    <i class="fa fa-map-marker icon"></i>
                    <h3 class="name">Bekerja Dimanapun</h3>
                    <p class="description">Anda dapat mengakses website nusantaran dimana saja, menggunakan perangkat apapun</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <div class="box">
                    <i class="fa fa-clock-o icon"></i>
                    <h3 class="name">Dapat Diandalkan</h3>
                    <p class="description">Website nusantaran tersedia 24 jam nonstop. And dapat mengakses kapanpun sesuka hati</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <div class="box">
                    <i class="fa fa-list-alt icon"></i>
                    <h3 class="name">Mudah Digunakan</h3>
                    <p class="description">Nusantaran memiliki UI/UX yang baik. Sehingga dapat mudah digunakan oleh beragam kalangan pengguna</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <div class="box">
                    <i class="fa fa-leaf icon"></i>
                    <h3 class="name">Ramah Lingkungan</h3>
                    <p class="description">Nusantaran memiliki jasa pengiriman barang tersendiri. Menggunakan kendaraan tenaga listrik yang ramah lingkungan</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <div class="box">
                    <i class="fa fa-plane icon"></i>
                    <h3 class="name">Cepat dan Aman</h3>
                    <p class="description">Website nusantaran menggunakan teknologi terbaru sehingga dapat diakses dengan cepat dan aman</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <div class="box">
                    <i class="fa fa-phone icon"></i>
                    <h3 class="name">Layanan Pelanggan</h3>
                    <p class="description">Layanan pelanggan dengan respon yang cepat selama 24 jam nonstop. Kami memberikan pelayanan yang baik</p>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include ('../includes/footer.ejs') %>