<%- include ('../includes/header.ejs') %>

<div class="highlight-phone">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="intro">
                    <h2>The Nusantaran Market Center</h2>
                    <p>Welcome to Nusantaran. We sell big variates of original Nusantaran handmade products. Get you aestethic products only from Nusantaran.</p>
                    <a class="btn btn-primary" role="button" href="/products">Go to Shop</a>
                </div>
            </div>
            <div class="col-sm-6" style="margin: auto;">
                <img class="d-none d-md-block" width="100%" src="/img/sunlight.svg" alt="">
            </div>
        </div>
    </div>
</div>
<div class="features-boxed" id="how-we-serve">
    <div class="container">
        <div class="row">
            <div class="col">
                <iframe class="embed-responsive" height="400px" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1010290.7975268234!2d114.51105816599815!3d-8.455697404655568!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dd22f7520fca7d3%3A0x2872b62cc456cd84!2sBali!5e0!3m2!1sen!2sid!4v1613450239872!5m2!1sen!2sid" frameborder="1" style="border:2px solid white;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
            <div class="col">
                <h2 class="text-center">How We Serve Our Customers</h2>
                <ul>
                    <li>30 stores are open at Bali, Indonesia</li>
                    <li>We are using courier service and customers pay cash on delivery (COD)</li>
                </ul>
                <div class="alert alert-success">
                    <h5>Customer in Bali</h5>
                    <ul>
                        <li>Free delivery fee</li>
                        <li>Our courier can deliver to your location in maximum 1 hour</li>
                        <li>You get 50% Cashback if we late</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="features-boxed">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Why Use Nusantaran ?</h2>
            <p class="text-center">Our motto is to never disapoint customers. We are open since 1950 and serve more than 300.000 unique foreginers customers and 500.000 local customers per month</p>
        </div>
        <div class="row justify-content-center features">
            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <div class="box">
                    <i class="fa fa-lock icon"></i>
                    <h3 class="name">Secured</h3>
                    <p class="description">We are using latest technology and the best security with backup system ready anytime</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <div class="box">
                    <i class="fa fa-clock-o icon"></i>
                    <h3 class="name">Access Anytime</h3>
                    <p class="description">You can access our marketplace website 24/7 at anytime. We have the best web services in asia</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <div class="box">
                    <i class="fa fa-check icon"></i>
                    <h3 class="name">Trustworthy</h3>
                    <p class="description">We have more than 2.000.000 unique customer that order 10 products on average per month</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <div class="box">
                    <i class="fa fa-gift icon"></i>
                    <h3 class="name">Bonus Event</h3>
                    <p class="description">Big discount and bonuses on holiday or celebration. We are using Indonesia holiday celebration</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <div class="box">
                    <i class="fa fa-fighter-jet icon"></i>
                    <h3 class="name">Fast Delivery</h3>
                    <p class="description">We guaranted to deliver the product fast in Bali, or by using the best courier service for outside Bali</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <div class="box">
                    <i class="fa fa-phone icon"></i>
                    <h3 class="name">Customer Service</h3>
                    <p class="description">We have 50+ customer services employees ready to help you 24/7 anytime with average 10 minues of reply</p>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include ('../includes/footer.ejs') %>